body {
    background-color: darkgrey;
}

h1, h2 {
    color: darkred;
    font-family: "Century Gothic", Verdana;
    text-align: center;
}

h2 {
    color: darkblue;
}

.div1 {
    font-size: 25px;
    font-family: "Courier New, Courier, monospace", Arial;
}

.not-purchased {
    font-weight: bold;
    font-family: "Century Gothic", Verdana;
    letter-spacing: 2px;
    color: darkgreen;
}

shopping-list {
   text-align: center; 
   font-family: "Courier New";
}

shopping-list:hover {
    cursor: pointer;
}

.input-control {
    padding: 25px;
}
